<header class="header">
  <h1 class="header--heading">
    <a class="header--link" href="<%= header_link_path %>">
      <%= settings.purple[:header][:full_name] %>
    </a>
  </h1>
  <h2 class="header--subheading">
    <a class="header--icon-link icon-mail" href="mailto:<%= settings.purple[:header][:email] %>"></a>
    <a class="header--icon-link icon-github" href="https://github.com/<%= settings.purple[:header][:github_name] %>"></a>
    <a class="header--icon-link icon-twitter-bird" href="http://twitter.com/<%= settings.purple[:header][:twitter_name] %>"></a>
  </h2>
</header>
